#gameContainer {
    text-align: center;
    margin-top: 20px;
    max-width: 800px;
}

button {
    margin: 5px;
    padding: 10px;
}

#fullscore {
    display: inline-block; /* This changes the div from block to inline */
    margin-right: 10px; /* Adds space between the divs */
    padding: 5px;
    background-color: #add8e6; /* Light blue background */
    border: 1px solid #000; /* Black border around each div */
    width:90%
}

#word
{
    text-align: left;
    display: inline;
}

#score {
    text-align: right;
    display: inline;
}

h1 {
    text-align: center;
}